# Created by venv; see https://docs.python.org/3/library/venv.html


# Ortam değişkenleri dosyası
.env

# Spotify cache
.spotify_cache

# sanal ortam
.venv/

# VS Code ayarları
.vscode/

# Python bytecode / cache
__pycache__/
*.py[cod]