# Created by venv; see https://docs.python.org/3/library/venv.html

SPOTIPY_CLIENT_ID = os.getenv("3eacb593b77c4f4db46ae8f049bfea73")
SPOTIPY_CLIENT_SECRET = os.getenv("7a7b6b60d46f4b96a318eefba6a7b005")
SPOTIPY_REDIRECT_URI = os.getenv("http://127.0.0.1:8888/callback")
OPENROUTER_API_KEY = os.getenv("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)


# Spotify cache
.spotify_cache

# sanal ortam
.venv/